
PyPDF2
transformers==4.42.4
accelerate
streamlit

google-generativeai

langchain
chromadb
faiss-cpu
langchain_google_genai
langchain_community


streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai